@import 'styles/_colors.scss';

.profile {
	position: absolute;
    top: 3.5rem;
    right: 3rem;
    font-size: 1.4rem;
    color: white;
    font-weight: 300;
    text-align: right;

    .display {
    	display: flex;
    	align-items: center;

    	img {
    		width: 2.5rem;
    		height: 2.5rem;
    		border-radius: 2rem;
    		margin-right: 1rem;
    	}
    }
}

.sign-out {
	padding: .5rem 1rem;
	border-radius: 2rem;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	background-color: white;
	transition: background-color .2s;

	&:hover {
		background-color: $red;
	}
}