@import 'styles/_colors.scss';
@import 'styles/_easing.scss';
@import 'styles/_mixins.scss';

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 30rem;
	height: 100%;
	background-color: $darkergrey;
	box-shadow: 0 5px 2rem rgba(black, .5);
	transform: translateX(-100%);
	transition: transform .5s $easeOutCubic;

	&.show-playlist {
		transform: translateX(0);
	}

	.menu {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 3rem;
		right: -6rem;
		cursor: pointer;
		display: flex;
		align-items: center;
    	justify-content: center;

		&:focus {
			outline: none;
		}

		svg {
			width: 3.4rem;
			height: 3.4rem;
			position: relative;
			z-index: 1;
		}

		@include ripple-effect;
	}
}

@keyframes ripple {
	0% {
		transform: scale(1);
		opacity: 0;
	}

	50% {
		transform: scale(2);
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		transform: scale(2.5);
		opacity: 0;
	}

}

.input-url {
	width: calc(100% - 4rem);
	margin: 3rem 0 2rem 2rem;
	padding: 1rem 1.5rem;
	border: 1px solid $purple;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-weight: 300;
	margin-bottom: 3rem;

	&:focus {
		outline: none;
	}
}

.playlist {
	position: absolute;
	top: 9rem;
	width: 100%;
	height: calc(100% - 18rem);
	border-bottom: 1px solid rgba(white, .1);

	.playlist-item {
		cursor: pointer;
		color: white;
		display: flex;
		align-items: center;
		margin: 1rem 0;
		background-color: rgba(white, .04);
		transition: background-color .25s;

		img {
			margin-right: 1rem;
			filter: grayscale(100%);
			transition: filter .25s;
		}

		&.playing {
			img {
				filter: grayscale(0);
			}
		}

		&:hover {
			background-color: rgba(white, .1);

			img {
				filter: grayscale(0);
			}
		}
	}
}