@import './styles/_colors';

.container {
	position: relative;
	background-color: $almostblack;
	height: 100%;
}

.sign-in {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	svg {
		transform: scale(3);
		margin-bottom: 8.5rem;
	}

	h2 {
		font-size: 2.4rem;
		font-weight: 300;
		color: white;
	}
}

:global .loading-enter {
	opacity: 0;
}
:global .loading-enter-active {
	opacity: 1;
	transition: opacity .5s, transform .5s;
}
:global .loading-exit {
	opacity: 1;
}
:global .loading-exit-active {
	opacity: 0;
	transition: opacity .5s, transform .5s;
}